page-fuel-consumption {
    ion-input {
        input {
          text-align: right;
          /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
          ::-webkit-input-placeholder {
            text-align: right;
          }
        }
      }
      .col .cust {
        padding: 0px;
    }
    .label-md{
        font-size: 12px;
    }
}
