page-upload-doc {
    .docCol {
        text-align: center; font-size: 1.5em; font-weight: bold;
    }
    // input::-webkit-datetime-edit{ color: transparent; }
    // input:focus::-webkit-datetime-edit{ color: #000; }

    .largeWidth{
        opacity: 0.3;
    }

}
