page-over-speed-repo {
    .col {
        padding: 0px;
    }
    .overme {
        // padding-top:8px;
        padding-right: 2px;
        padding-left: 4px;
         // padding: auto; 
         width: 250px;
         // height: 60px;
         // line-height: 30px;
         line-height: normal;
         overflow:hidden; 
         font-size: 12px;
         color: gray;
         // background: #333;
 
         /*The problematic part is below*/
         white-space:nowrap; 
         text-overflow: ellipsis;
     }
     
     .overme {
         white-space: normal;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
     }
     .label-md{
        font-size: 12px;
    }
}
